*{
    box-sizing: border-box;
}
body{
  /* background-color:#F7f7f7; */
  color:#000000;
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  overflow: scroll;
}

.div .gallery{
  margin-bottom: 2em;
}

/* navigation */

.nav_links{
  display: flex;
  flex-direction: column;
  background-color:#181818;
  align-items: stretch;
  justify-content: center;
  padding: 1em 0 1em 0;
} 

nav a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  font-size: larger;
  padding: 0.5em;
}


.active{
  background-color: #FFFFFF;
  text-transform: uppercase;
  color: #000000;
}
.active a {
  color: #000000;
  font-weight: 800;
}

nav a:hover, a:focus{
  color: #000000;
  background-color: #FAF750;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

/* links skip and focus styling */
a.skip{
  background-color: #FFFFFF;
  margin-top: 10px;
  padding: 10px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  /* position: absolute */
  position: relative; 
  left: -500px; 
  overflow: hidden;
}

a.skip:focus{ 
  left: 500px;
  position: static;
}

a.skip:focus{
  top:20px;
  color: #181818;
  text-decoration-style: solid;
}

*:focus, img:hover{
  box-shadow: 5px 5px #fac650;
}

/* main styling */
.container{
  padding: 5% 2% 0 2%;
  margin: 0 auto;
  height: auto;
}

/* footer styling */
footer{
  display: flex;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border-top: solid #e7e7e7 2px;
  gap: 20px;
}

footer p{
  display: inline-block;
  text-align: center;
  padding-top: 1em;
  font-size: 1.3em;
}
.footer_icons{
  display: flex;
  justify-content: flex-start;
  padding-left: 4vw;
  width: 20%;
  gap: 10px;
  padding-top: 2em;

}

footer a:link{
  color: #181818 ;
}
footer a:visited{
  color: #181818 ;
}

/* images styling */
.gallery{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
}
.grid_gallery{
  display: grid;
  grid-template-columns: 1;
  row-gap: 20px;
  overflow: hidden;
}

img{
  width: 100%;
  margin: 0.5%;
  overflow: hidden;
}

/* text styling */
h1{
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 1em;
  text-align: left;
}

h2{
  font-size: 1.5em;
  text-align: left;
  font-weight: 600;
  margin: 5vh 0 1vh 0;
}

h1 + h2{
  font-size: 1.5em;
  text-align: left;
  font-weight: 600;
  margin: 0 0 2% 0;

}

p{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 1em;
  text-align: left;
}
.text{
  padding: 1em 0 1em 0;

}
/* about styling */
.about{
  background-image: url(../images/background.webp);
  min-height: 30vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_container{
  display: grid;
  justify-items: center;
}
.about-img{
  object-fit: cover;
  animation-name: myimage;
  animation-duration: 5s;
}
/* turned off my image animations */
/* @keyframes myimage {
  0% {width: 0; opacity: 25;}
  100%{width: 100%; opacity: 1;}
} */

.background, .about-text{
  grid-column: 1 / 4;
  max-height: 700px;
  overflow: hidden;
}
.about-img{
  overflow: hidden;
  grid-row: 1 / 2;
  /* max-width: 80%; */
  align-self: center;
}

.about-text{
  z-index: 1;
  padding: 5%;
  text-align: left;
  background-color: #FFFFFF
}

.about h1{
  /* background-color: #fafaff; */
  padding-left: 1vw;
}

/* form styling */

form {
  border: 0.1em solid #181818;
  padding: 2%;
  background-color:#FFFFFF;
  min-height: max-content;
}

legend{
  font-size: 100%;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
  padding: 1em 0 1em 0;
  color: #181818;
}

label{
  display: inline-block;
  margin-top: 1em;
  /* margin-right:10px; */
  width:50%;
}
input {
  width: 100%;
  padding: 2%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  height: 20vh;
  padding: 2%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  font-family: "open-sans", sans-serif;
  font-size: medium;
}

input{
  font-size: medium;
  color: black;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: #fac650;
  color: #181818;
  font-size: 1.5em;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.myform{
  grid-row: 3 /4;
  width: 100%;
}

@media screen and (prefers-reduced-motion: reduce){
  .about-img{
      animation: none;
  }
}



/* tablet breakpoint and small computers, adjust endpoints */
@media only screen and (min-width: 700px){
  .nav_links{
    flex-direction: row;
    flex-flow: wrap;
    align-content: center;
    justify-content: end;
    flex-basis: 50%;
    padding-right: 2vw;
  }
  nav a{
    /* flex-grow: 2; */
    margin: 0.5vw 2vw;
    align-self: center;
  
  }
  p{
    font-size: 1.2em;
    /* line-height: 1.5em; */
  }
  footer{
    border-width: 5px;
  }
  footer p{
    font-size: 1.5em;
  }
  .footer_icons{
    padding-left: 4vw;
    width: 10%;

  }

  /* images and gallery styling on different pages */
  img.home{
    max-width: 30%;
  }

  .gallery img{
   max-height: 50vh;
    width: auto;
    max-width: 45%;
    /* max-width: 80%; */
    /* margin: 0.5%; */
    /* overflow: hidden; */
  } 

  .gallery, .home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    /* gap: 10px; */
  }
  .grid_gallery{
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    height: 100%;
    gap: 20px;
    place-items: stretch / center;
    overflow: hidden;
  }
  .grid_gallery img{
   width: 100%;
   overflow: hidden;
   /* align-self: stretch; */
  }
  
  /* about styling */
  .about_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

  .about-img{
    min-width: 100%;
    min-height: 100%;
    flex-basis: 40vh;
    /* max-width: 80%; */
  }
  .about-text{
    height: auto;
    margin-bottom: 2em;
  }

  form {
    flex-basis: 100vw;
    height: auto;
  }

  /* flip card styling */
.flip-card {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  width: 45%;
  height: 45vh;
  perspective: 1000px;
  margin-bottom: 5vh;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #ffffff;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

}
@media only screen and (min-width: 1070px){

  .grid_gallery{
    grid-template-columns: repeat(4, 4fr);

  }
    /* about styling */
    .about_container{
    flex-direction: row;
    justify-content: center;
  } 
  .about-img{
    /* flex-basis: 40vw;
    max-height: none;
    max-width: 40%; */
  }
  .about-text{
  flex-basis: 60vw;
    margin-bottom: 2em;
  }
  form{
    width: 100%;
  }
  /* .flip-card{
    max-width: 20vw;
    min-height: 30vh;
  } */
  /* .myform{
    max-width: 80%;
    height: 100vh;
    align-self: center;
  } */




}









